<div id="titleApp">
  <h1>
    {{ title }} 
  </h1>
</div> 
<div id="container2">
    <div id="left">
      <h2>Nadzorowani pracownicy</h2>
      <ul>
        <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
          <div class = "user" routerLink="/details/{{user.id}}" style="color:black; text-decoration: none; font-size: 23px">
            <p>
                {{ user.username }} - {{user.computerName}}
            </p>
          </div>
        </li>
      </ul>
      
    </div>
    <div id="right">
      <div id="rightTop">
        <div id="filtr">
          <input id= "input" type="text" [(ngModel)]='query' placeholder= "Wyszukaj użytkownika"/>
          <button id= "search" (click)=search()>Szukaj</button>
        </div>
        <div id = "LogoutHomePage" (click)="logout()" >
            Wyloguj 
        </div> 
      </div>
      <div id="rightDown">
      </div>

    </div>
    <div class="middle" style= "clear:both"></div>
    <pagination-controls (pageChange)="p = $event" previousLabel="Poprzednia"
        nextLabel="Następna" style="font-size: 16px; text-align: center">
      </pagination-controls>
  </div>

<!-- <div>
  <a routerLink="" style="color:black; text-decoration: none; font-size: 23px">sekretne przejscie do logowania</a>
</div> -->
<!-- <div class="containerX">
  <div class="col-md-6 col-md-offset-3 loginBox">
    Welcome,  {{id}}
    <a href="javascript:void(0);" (click)="logout()">Logout</a>
  </div>
</div> -->

 

  

