.buttons
{
  border-color: #7c6a05;
  border-radius: 30px;
  color: #7c6a05;
  font-weight: 700;
}

.buttons:hover
{
  border-color: #f7d30c;
  border-radius: 30px;
  /* color: #f7d30c; */
}

#block
{
  /* box-shadow:inset 0 0 100px #235169; */
  box-shadow:inset 0 0 100px  #6be41b;
  width: 940px;
  height: 610px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 30px;
  color: #110831;
  font-stretch: ultra-expanded;
  border-radius: 10px;
}

.label
{
  font-weight: 700;
}

.question
{
  margin-top: 30px;
  font-weight: 700;
  /* background-color: aqua; */
}

