.line-break {
  width: 90px; 
  overflow-wrap: break-word;
  }

.message
{
  background-blend-mode: darken;
  padding-left: 5px;
  background-color: rgb(212, 221, 80);
  padding: 5px;

  overflow-wrap: break-word;
}

.date
{
  letter-spacing: 2px;
  font-size: 15px;
  border-width: 2px;
  border-bottom-style: groove;
  font-weight: 900;
}

#search
{
  /* margin-top: 0px; */
  margin-left: 5px;
  width: 70px;
  height: 25px;
  font-weight: 600;
  /* vertical-align: 0px; */
  border-color: #7c5604;
  border-radius: 30px;
  color: #0c0b0a;
  background-color: rgb(245, 245, 88);
}

#filtr
{
    /* padding-left: 20px; */
    /* padding-left: 0px;
    margin-top: 5px; */
    height: 40px;
    width: 300px;
    margin-left: 650px;
}

#input
{
    /* margin-top: 20px; */
    /* margin-top: 5px; */
    height: 20px;
    width: 200px;
    padding-left: 0px;
    margin-left: 0px;
}

